h1{
    color: blue;
}
img{
    width: 250px;
    height: auto;
    border-radius: 15px;
}
div{
    display: inline-block;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 15px;
    padding : 10px;
}



body{
    background-color: darkmagenta;
}